<h1>Welcome the NYC Landmarks Home Page</h1>

<h3>Select from the list below</h3>

<ul>
	<li><a href="/figures">Figures</a></li>
	<li><a href="/landmarks">Landmarks</a></li>
	<li><a href="/titles">Titles</a></li>
</ul>